body {
    background: rgb(163, 41, 116); /*cor de fundo*/
    font: normal 15pt Arial;
}
h1 {
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(204, 35, 35), rgb(255, 0, 234), rgb(204, 91, 109), rgb(165, 8, 34), rgb(48, 219, 219), pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

header {
    color: white;   /*cor do que esta escrito na div*/
    text-align: center; /*alinhar*/
}

section {
    background: white;
    border-radius: 10px; /*borda arredonda*/
    padding: 15px; /*definir os valores da espessura da área de preenchimento.*/
    width: 500px; /*Especifica a largura da área de conteúdo, área de preenchimento ou área de borda (dependendo do 'tamanho da caixa')*/
    margin: auto; /*Propriedade abreviada para definir os valores da espessura da área da margem. */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425); /*cria uma sombra, os px define para onde a parte colorida irá se deslocar para a sombra aparecer*/
}   

footer {
    color: white;
    text-align: center; /*alinhar*/
    font-style: italic;
}